@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(10px + 0.5vw);
}

small {
  font-size: 0.9056rem;
  font-weight: normal;
  color: #1C1C1C80;
  font-family: Open Sans, sans-serif;
}

p {
  color: #000;
  font-family: Open Sans, sans-serif;
}

h2 {
  color: #000;
  font-size: 1.8112rem;
  line-height: 1.1;
  font-weight: 700;
  font-family: Libre Baskerville, serif;
}

h5 {
  text-transform: uppercase;
  color: #1C1C1C80;
  font-size: 0.7924rem;
  font-family: Open Sans, sans-serif;
}

.common__padding {
  padding-left: 2rem;
  padding-right: 2rem;
}

.flex__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex__between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  transition: all ease-in-out 300ms;
}

button:hover {
  transform: scale(.95);
}

button:active {
  transform: scale(1.05);
}

.bounce {
  animation: bounceBall 1s infinite alternate ease-in-out
}

.bounce-2 {
  animation-delay: 0.25s;
}

.bounce-3 {
  animation-delay: 0.5s;
}

.bounce-4 {
  animation-delay: 0.75s;
}

@keyframes bounceBall {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

@media screen and (max-width: 768px) {
  .common__padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }  
}

@media screen and (max-width: 640px) {
  .common__padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }  
}